{% extends 'Apptercera/base.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Inicio</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'Apptercera/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'Apptercera/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#!">Cursos On Line</a>
                <a class="btn btn-primary" href="#signup">Suscribirse</a>
            </div>
        </nav>
        
        {% block contenidoQueCambia %}
        
        <br>
        <h1> Dar de alta Estudiantes </h1>
        <br>

        {% if miFormularioE.errors %}
        Están mal los datos
        {% endif %}


        <form action="" method="Post">{% csrf_token %}

            <table>
                {{FormularioE.as_table}}
            </table>

            <input type="submit" value ="Enviar">

        {% endblock contenidoQueCambia %}
